.box {
    margin: 1.5rem;
    margin-bottom: 3rem;
    box-sizing: none;
}

@media only screen and (min-width: 510px) and (max-width: 767px) {
    .box {
        img {
            margin-left: 5rem;
        }
        margin-left: auto;
        margin-right: auto;
    }
    .box {
        margin: 0;
    }
}

@media only screen and (min-width: 470px) and (max-width: 510px) {
    .box, .home-box {
        img {
            margin-left: 3.5rem;
        }
        margin-left: auto;
        margin-right: auto;
    }
    .box {
        margin: 0;
    }
}

@media only screen and (min-width: 440px) and (max-width: 470px) {
    .box {
        img {
            margin-left: 3rem;
        }
        margin-left: auto;
        margin-right: auto;
    }
    .box {
        margin: 0;
    }
}

@media only screen and (min-width: 360px) and (max-width: 400px) {
    .box {
        img {
            margin-left: 1rem;
        }
        margin-left: auto;
        margin-right: auto;
    }
    .box {
        margin: 0;
    }
}

@media only screen and (max-width: 360px) {
    .box {
        margin: 0;
    }
}