.lib-area {
    margin-top: 1rem;
}

.lib-anime {
    margin-bottom: 7.5vh;
    max-width: 25rem;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .lib-anime {
        img {
            margin-left: 2.75rem;
        }
    }
}

@media only screen and (min-width: 1200px) {
    .lib-anime {
        img {
            margin-left: -0.5rem;
        }
    }
}