$color-primary: orange;
$color-primary-white: rgb(252, 186, 64);
$color-primary-dark: rgb(197, 128, 0);
$color-light: white;
$color-background: #f7f7f7;

.filters-box{
    justify-content: center;
    background-color: $color-light;
    padding: 1rem;
}

.categories-filter{
    margin: 1px;
    
    .category-box {
        cursor: pointer;
        text-align: center;
        margin-top: 0.25rem;
        border: solid 2px $color-background;

        .category-link {
            text-decoration: none;
            color: $color-primary;
            
            .category {
                width: 100%;
                //padding: 0.25rem;
                text-decoration: none;
                color: $color-primary;
            }
        }
        
        &:hover{
            background-color: $color-primary;
            .category-link {
                text-decoration: none;
                color: $color-light;
                
                .category {
                    width: 100%;
                    //padding: 0.25rem;
                    text-decoration: none;
                    color: $color-light;
                }
            }
        }
    }
}

.filters-titles{
    text-align: center;
    margin-right: 1rem;
    //color: $color-primary;
}

/*.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    // margin-bottom: -1px;
    // background-color: #fff;
    // border: 1px solid #ddd;
    width: 50%;
    float: left;
    text-align: left;
}*/

.order-filter {
    margin: 1rem;
}

.submit {
    position: relative;
    width: 100%;
    color: $color-light;
    background-color: $color-primary;
    border-color: $color-primary;
    &:hover{
        color: $color-light;
        background-color: $color-primary-white;
    }
}

.order-filter-options {
    color: $color-primary;
}